<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="uploadForm" action="/" method="post" enctype="multipart/form-data">
        <input id="fileInput" type="file" name="file" />
        <input type="submit" value="Remove Background"/>
    </form>
    
    <button id="download_btn" style="display: none;">Download </button>

    <script src="/static/js/index.js">
    </script>
</body>
</html>
